[submodule "sd_scripts"]
	path = sd_scripts
	url = https://github.com/67372a/sd-scripts
[submodule "LyCORIS"]
	path = lycoris
	url = https://github.com/67372a/LyCORIS.git
[submodule "lycoris"]
	path = lycoris
	url = https://github.com/67372a/LyCORIS
